<%- include('../partials/header') %>

<section id="show-page">
  <div>Airline: <%= flight.airline %></div>
  <div>Airport: <%= flight.airport %></div>
  <div>flight No: <%= flight.flightNo %></div>
  <div>Depart Date:
  <% if (flight.departs < Date.now()) { %>
    <span style="color:red"><%= flight.departs %></span>
    <% } else { %>
    <%= flight.departs%></div>
  <% }%>
</section>

<br><br><h2>Destinations</h2>
<form method="POST" action="/flights/<%= flight._id %>/destinations">
  <label>Airport: </label>
    <select name="airport">
      <option value="AUS">AUS</option>
      <option value="DFW">DFW</option>
      <option value="DEN">DEN</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
    </select>
  <label>Arrival:
  <input type="datetime-local" name="arrival">
</label>
  <input type="submit" value="Add Arrival">
</form>

<% if (flight.destinations.length) { %>
  <table>
    <thead>
      <tr>
        <th>Airport</th>
        <th>Arrival</th>
      </tr>
    </thead>
    <tbody>
      <% flight.destinations.sort(function(a, b) { %>
          <% return a.arrival - b.arrival %>
        <% }) %>
      <% flight.destinations.forEach(function(d) { %>
        <tr>
          <td><%= d.airport %></td>
          <td><%= d.arrival %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Arrival Date</h5>
<% } %>

<!-- Start ticket -->
<br><br><h2>Tickets:</h2>
  <% if (tickets.length) { %>
  <table>
    <thead>
      <tr>
        <th>Seat</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <% tickets.forEach(function(t) { %>
        <tr>
          <td><%= t.seat %></td>
          <td><%= t.price %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>
<% } else { %>
  <h5>No Tickets</h5>
<% } %>

<a class="button" href="/flights/<%= flight._id %>/tickets/new">New Ticket</a>

<%- include('../partials/footer') %>
